<div id="jobActions">

    <div class="panel panel-default">
        <div class="panel-heading">Admin tools</div>
        <div class="panel-body">
            <ul>
                {% if entity.active %}
                    <li {% if entity.expiresSoon %} class="alert alert-warning" {% endif %}>
                        {% if entity.isExpired %}
                            {{ "expired" | trans }}
                        {% else %}
                            {{ "expires_in_cnt_days" | trans({'%count%': entity.getDaysBeforeExpires})|raw }}
                        {% endif %}

                        {% if job.expiresSoon %}
                            <form class="form-inline" action="{{ path('job_extend', { 'token': job.token }) }}" method="post">
                                {{ form_widget(extend_form) }}
                                <button class="btn btn-default" type="submit">{{ "extend" | trans }}</button>{{ "for_another_30_days" | trans }}
                            </form>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        [
                        {{ "bookmark_this_url" | trans({'%url%': '<a href="' ~ url(
                            'job_preview', {
                                'token': job.token,
                                'company': job.companyslug,
                                'location': job.locationslug,
                                'position': job.positionslug
                            }) ~ '">URL</a>'}) }}
                        ]
                    </li>
                {% endif %}
                {% if not job.active %}
                    <li><a href="{{ path('job_edit', { 'token': job.token }) }}">Edit</a></li>
                    <li><a href="{{ path('job_publish', { 'token': job.token }) }}">Publish</a></li>
                {% endif %}
                {% if not job.active %}
                    <li><a href="{{ path('job_edit', { 'token': job.token }) }}">{{ "edit" | trans }}</a></li>
                    <li>
                        <form class="form-inline pull-right" action="{{ path('job_publish', { 'token': job.token }) }}" method="post">
                            {{ form_widget(publish_form) }}
                            <button class="btn btn-success" type="submit">{{ "publish" | trans }}</button>
                        </form>
                    </li>
                {% endif %}
                <li>
                    <form class="form-inline" action="{{ path('job_delete', { 'token': entity.token }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button class="btn btn-danger pull-right" type="submit" onclick="if(!confirm('{{ "are_you_sure" | trans }}')) { return false; }">
                            {{ "delete" | trans }}
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>


</div>
