{% extends 'layout.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors | length > 0 %}
            {% for error in errors %}
                <p class="alert alert-danger">{{ error.messageTemplate | trans(error.messageParameters, 'validators') }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>{{ "job_edit" | trans }}</h1>
        </div>
    </div>
    <form action="{{ path('job_update', { 'token': entity.token }) }}" method="post" {{ form_enctype(edit_form) }}>

        {{ form_widget(edit_form) }}

        <div class="form-group">
            <div class="col-sm-12">
                <input class="btn btn-primary pull-right" type="submit" value="Preview your job">
            </div>
        </div>

        {{ form_rest(edit_form) }}

        <p class="col-md-12 text-muted">* {{ "can_be_pub_on_aff" | trans }}</p>
    </form>
</div>
{% endblock %}
