{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/list.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div class="category-{{ category.slug }}">
                <h1><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
                <div class="feed">
                    <a href="{{ path('category_show', { 'slug': category.slug, '_format': 'atom' }) }}">{{ "feed" | trans }}</a>
                </div>

                <div class="category-job-list-holder" data-category-id="{{ category.id }}"></div>

                {% if category.morejobs %}
                    <div class="more-jobs">
                        {{ "and_cnt_more" | trans({'%count%': category.morejobs, '%path%': path('category_show', {'slug': category.slug})}) | raw }}
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}
