{% if jobs is empty %}
    <p style="padding: 1em;">No results found</p>
{% else %}
    <table class="jobs table table-striped">
        {% if hasPaginator is defined and hasPaginator %}
            <tr class="table-header">
                <th>{{ knp_pagination_sortable(jobs, 'Location', 'j.location') }}</th>
                <th>
                    {{ knp_pagination_sortable(jobs, 'Position', 'j.position') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(jobs, 'Company', 'j.company') }}
                </th>
            </tr>
        {% endif %}
        {% for entity in jobs %}
            <tr>
                <td class="location">{{ entity.location }}</td>
                <td class="position">
                    <a href="{{ path('job_show', {
                        'id': entity.id,
                        'company': entity.companyslug,
                        'location': entity.locationslug,
                        'position': entity.positionslug,
                        'modal': 'modal'
                    }) }}" data-toggle="modal" data-target="#modal">
                        {{ entity.position }}
                    </a>
                </td>
                <td class="company">{{ entity.company }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if hasPaginator is defined and hasPaginator %}
        <div class="navigation">
            {{ knp_pagination_render(jobs) }}
        </div>
    {% endif %}
{% endif %}
