{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors | length > 0 %}
            {% for error in errors %}
                <p class="alert alert-danger">{{ error.messageTemplate | trans(error.messageParameters, 'validators') }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    <div class="page-header">
        <h1>{{ "job_creation" | trans }}</h1>
    </div>
    <form action="{{ path('job_create') }}" method="post" {{ form_enctype(form) }}>


        {{ form_widget(form) }}

        <div class="form-group">
            <input class="btn btn-primary pull-right" type="submit" value="Preview your job">
        </div>

        {{ form_rest(form) }}

        <p class="text-muted">* {{ "can_be_pub_on_aff" | trans }}</p>
    </form>
{% endblock %}
