<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Job description</h4>
</div>
<div class="modal-body">
    {% if app.request.get('token') %}
        {% include 'job/admin.html.twig' with {'job': entity} %}
    {% endif %}
    <div id="job">
        <h1>{{ entity.company }}</h1>
        <h2>{{ entity.location }}</h2>
        <h3>
            {{ entity.position }}
            <small> - {{ entity.type }}</small>
        </h3>
        {% if entity.logo %}
            <div class="logo">
                <a href="{{ entity.url }}">
                    <img src="/images/{{ entity.logo }}" alt="{{ entity.company }} logo" />
                </a>
            </div>
        {% endif %}
        <p class="description">
            {{ entity.description|nl2br }}
        </p>
        <h4>{{ "how_to_apply" | trans }}</h4>
        <p class="how_to_apply">{{ entity.howtoapply }}</p>
        <p class="meta">
            <small>{{ "posted_on" | trans({"%date%": entity.createdat|date('m/d/Y')}) }}</small>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <a class="btn btn-success" href="{{ path('job_edit', { 'token': entity.token }) }}">Edit</a>
</div>
