{% extends 'layout.html.twig' %}

{% block title %}
    This page doesn't exist or was moved
{% endblock %}

{% block content %}
    <p style="padding: 1em;">Sorry, the page you are looking for doesn't exist or was moved. Try using search to find what you're looking for.</p>
{% endblock %}
