{% extends 'layout.html.twig' %}

{% block title %}
    Internal server error
{% endblock %}

{% block content %}
    <p style="padding: 1em;">Sorry, a server error has occurred. Try again later.</p>
{% endblock %}
