{% extends 'layout.html.twig' %}

{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}

{% block content %}
    <div class="category">
        <h1>{{ category.name }}</h1>
        <div class="feed">
            <a href="{{ path('category_show', {'slug': category.slug, '_format': 'atom'}) }}">Feed</a>
        </div>
    </div>

    {{ include ('job/list.html.twig', {'jobs': jobs}) }}
{% endblock %}
