{% if admin.isGranted('EDIT', object) and admin.hasRoute('activate') %}
    <a href="{{ admin.generateObjectUrl('activate', object) }}"
       class="btn btn-sm btn-default edit_link"
       title="{{ 'action_activate'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-edit"></i>
        {{ 'activate'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
