<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ "your_best_job_board"|trans }}
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body role="document">

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="active" role="presentation">
                        <a href="{{ path('job_create') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            {{ "post_a_job" | trans }}
                        </a>
                    </li>
                </ul>
            </nav>
            <h1>
                <a href="{{ path('job_index') }}">
                    Jobeet
                </a>
            </h1>
            <div class="search clearfix">
                <form action="{{ path('job_search') }}" method="get" class="form">
                    <div class="input-group-lg">
                        <input class="form-control col-md-10" type="text" name="query" id="search_keywords" value="{{ app.request.get('q') }}"
                               placeholder="{{ "enter_some_keywords"|trans }}">
                    </div>
                </form>
            </div>
            <div id="job_history">
                <ul class="list-inline">
                    <li>{{ "recent_viewed_jobs" | trans }}:</li>
                    {% for job in app.session.get('job_history') %}
                        <li>
                            <a href="{{ path('job_show',
                            { 'id': job.id,
                                'company': job.companyslug,
                                'location': job.locationslug,
                                'position': job.positionslug,
                                'modal': 'modal'
                            })
                            }}" data-toggle="modal" data-target="#modal">{{ job.position }} - {{ job.company }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="content">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="content main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer container">
        <div class="content row">
            <div class="col-md-6">
               <span class="symfony">
                   {{ "powered_by" | trans }}
                   <a href="http://www.symfony.com/">
                       <img src="{{ asset('images/symfony1.gif') }}" alt="symfony framework">
                   </a>
               </span>
            </div>
            <div class="col-md-6">
                <ul class="list-inline">
                    <li><a href="">{{ "about_jobeet" | trans }}</a></li>
                    <li class="feed"><a href="{{ path('job_index', {'_format': 'atom'}) }}">{{ "full_feed" | trans }}</a></li>
                    <li><a href="">{{ "jobeet_api" | trans }}</a></li>
                    <li class="last"><a href="{{ path('subscribe') }}">Subscribe to newsletter</a></li>
                    <li class="last"><a href="{{ path('affiliate_new') }}">{{ "affiliates" | trans }}</a></li>
                </ul>
                <form action="{{ path('change_language') }}" method="get" class="form-inline">
                    <div class="form-group">
                        <label for="language">{{ "language" | trans }}</label>
                        <select class="form-control" name="language" id="language">
                            <option value="en" {% if app.request.get("_locale") == 'en' %}selected{% endif %}>English</option>
                            <option value="fr" {% if app.request.get("_locale") == 'fr' %}selected{% endif %}>Français</option>
                        </select>
                    </div>
                    <input type="submit" value="OK" class="btn btn-default">
                </form>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/modal.js') }}"></script>
        <script src="{{ asset('js/search.js') }}"></script>
    {% endblock %}
</body>
</html>
