<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Your Newsletter</h1>
{% for key, category in categories %}
    <h2>{{ category.name }}</h2>
    <ul>
        {% if jobs[category.id] is defined and jobs[category.id] %}
            {% for job in jobs[category.id] %}
                <li>{{ job.id }} - {{ job.position }}</li>
            {% endfor %}
        {% else %}
            Empty
        {% endif %}
    </ul>
{% endfor %}
</body>
</html>
