{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/job.css') }}">
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Subscribe to newsletter</h1>
    </div>
    <p>You are now subscribed to the newsletter.</p>
{% endblock %}
