{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors | length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li>
                        {{ error.messageTemplate | trans(error.messageParameters, 'validators') }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block content %}
    <div class="page-header">
        <h1>Subscribe to newsletter</h1>
    </div>
    <form action="{{ path('subscribe') }}" method="post">
        {{ form_errors(form) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}
