{% extends '::layout.html.twig' %}

{% block content %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}">

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <button type="submit">login</button>
</form>
{% endblock %}
