{% for url, job in jobs %}
    {% for i = 0, count(jobs), ++i %}
        [
            "url"
            :
            "{{ url }}",
            {% for key, value in job %}
            {% j = 0, count(key), ++j %}
            "{{ key }}"
            :
            "{% if j == count(key)%} {{ json_encode(value) }},
            {% else %}
            {{ json_encode(value) }}
            {% endif %}"
            {% endfor %}
        ]
    {% endfor %}
{% endfor %}
