{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% set form_themes = _self %}

{% block form_errors %}{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}{% endblock form_errors %}

{% block content %}
    <div class="page-header">
        <h1>{{ "become_an_affiliate" | trans }}</h1>
    </div>
    <form action="{{ path('affiliate_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
    </form>
{% endblock content %}
