.form-group:before {
    display: table;
    content: " ";
}
.form-group:after {
    clear: both;
    display: table;
    content: " ";
}

body {
    background: #daebf1; /* Old browsers */
    background: -moz-linear-gradient(top,  #daebf1 0%, #ffffff 50%, #daebf1 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #daebf1 0%,#ffffff 50%,#daebf1 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #daebf1 0%,#ffffff 50%,#daebf1 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daebf1', endColorstr='#daebf1',GradientType=0 ); /* IE6-9 */
}

.container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: #fff;
}

nav h1,
nav ul {
    margin-top: 20px;
}

.search {
    padding-top: 2em;
    padding-bottom: 2em;
}

.loading {
    position: relative;
}

.loading:after {
    content: url(../images/loader.gif);
    position: absolute;
    right: 0;
}

#sub_header .post {
    vertical-align: center;
}

#job_history {

}

body .footer {
    background: #daebf1;
    padding: 2em 0;
}

.feed {
    text-align: right;
}

.more-jobs {
    text-align: right;
}

.more-jobs a {
    font-size: 1.2em;
    font-weight: 700;
}

#jobs > div[class^="category-"] {
    padding-bottom: 1em;
}

.footer .content > *{
    margin: 1em 0;
}

.footer .content > *:nth-child(2n) {
    text-align: right;
}

.symfony {
    line-height: 2em;
    font-style: italic;
}

.symfony img {
    display: block;
    height: 3em;
}

.footer label {
    padding-right: .8em;
}

/*
 * Modal styles
 */
#job h1,
#job h2,
#job h3,
#job h4 {
    font-weight: 700;
    margin: 1em 0 .6em;
}

#job h1 {
    font-size: 2em;
}

#job h2 {
    font-size: 1.4em;
}

#job h3 {
    font-size: 1.2em;
}

#job h4 {
    font-size: 1.1em;
}

.meta {
    text-align: right;
    margin: 1em 0;
}

/*
 * Admin panel
 */
#jobActions ul {
    list-style: none;
    padding: 0;
}

#jobActions ul form {
    display: inline;
}

#jobActions ul form div {
    display: inline;
}

#jobActions ul li {
    display: inline;
}

#jobActions ul li:first-child {
    padding-right: 1em;
}
